div{

    display: flex;
    justify-items: center;
    align-items: center;
    height: 96vh;

}

button{
    background-color: darkolivegreen;
    color: darkseagreen;
    border-color: olive 2px solid;
    padding: 10px 20px;
    box-shadow:20px 20px 3px rgb(44, 78, 10);
    transition: all 2s;
    
}

button:hover{
 cursor: cell;
    background-color: cadetblue; 
    color: lightskyblue;
    border-color: lightcyan;
    box-shadow: 20px 20px 3px cornflowerblue;


}

